<h1>{{title}}</h1>
<h2>Tutorial followed by <span style="color: orange;">{{learner}}</span></h2>

<div style="width: 100%; text-align: center;">
		<h5>Experience the difference between loading times and requests</h5>
	
	
	</div>
<nav>
	
	<div>
		<p class="w-40">href="" anchors</p>
		<div class="links  w-40">
			<a href="/heroes">Heroes</a>
			<a href="/">Home</a>
			<a href="/hero/detail">Details</a>	
		</div>
	</div>
	
	<div style="padding-left: 10px;">
		<p class="w-40">routerLink anchors</p>	
		<div class="links w-40">
			<a routerLink="/heroes">Heroes-RouterLink</a>
			<a routerLink="/">Home-RouterLink</a>
			<a routerLink="/hero/detail">Details View-RouterLink</a>
			<a routerLink="/dashboard">Dashboard RouterLink</a>	
		</div>
	</div>
</nav>



<!-- 
	The AppComponent template no longer needs <app-heroes> because the app will only display the HeroesComponent when the user navigates to it.

	The <router-outlet> tells the router where to display routed views.
-->
<router-outlet></router-outlet>

<app-messages></app-messages>
